 <%= link_to root_path, class: 'back-button' do %>
  <%=image_tag 'backbutton.svg', alt: 'Back', class: 'back-button-img' %>
  Back
  <% end %>
<div class="activity-image" style="position: relative;">
  <%= image_tag @club.image_url, alt: 'uploaded-club-image', class: 'club-img' %>

</div>

<div>
<div class= "club-details">
  <div class="club-title">
    <h1><%= @club.name %> </h1>
    <% if current_user == @club.user %>
      <%= link_to 'Edit', edit_club_path(@club), class: 'button-edit' %>
    <% end %>
  </div>
    <div class="club-desc" data-controller="toggle-text">
      <p id="club-description">
        <%= truncate(@club.details, length: 100) %>
        <% if @club.details.length > 100 %>
          <span data-toggle-text-target="moreText" style="display: none;"><%= @club.details[100..-1] %></span>
          <button data-toggle-text-target="button" data-action="click->toggle-text#toggle" class='button-learn'>Learn More</button>
        <% end %>
      </p>
   </div>


    <div class="more-info d-flex" style="justify-content: space-between;">
      <div class="social-links">
        <div class='location-tag'>
          <i class="fa-solid fa-location-dot custom-icon"></i>
          <p class='club-icon-text'><%= @club.address %></p>
        </div>
        <div class='instagram-tag'>
          <i class="fa-brands fa-instagram custom-icon"></i>
          <p class='club-icon-text'><%= @club.instagram_link %></p>
        </div>
        <div class='phone-tag'>
          <i class="fa-solid fa-phone custom-icon"></i>
          <p class='club-icon-text'><%= @club.phone_number %></p>
        </div>
      </div>
      <div class="map-container">
        <div id="clubmap-container" class="clubmap"data-controller="clubmap" data-clubmap-markers-value="<%= @markers.to_json %>" data-clubmap-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
</div>
   <div class='manage-club-buttons'>
    <div class='edit-delete-button'>
      <div class='edit-dojo'>
        <%= link_to 'Edit Dojo', edit_club_path(@club), class: 'edit-dojo-button' %>
        </div>
        <div class='delete-dojo'>
        <%= link_to 'Delete Dojo', club_path(@club), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'delete-dojo-button' %>
        </div>
      </div>
      <div class='add-activity'>
        <%= link_to 'Add Activity', new_club_activity_path(@club), class: 'add-dojo-button' %>
      </div>
    </div>

<h2 class='activities-title-index'>Activities</h2>

<div id="activities-index">
  <% @activities.each do |activity| %>
    <div class="my_activities-cards">
    <% if activity.image.attached? %>
              <img class="my_activities-images" src="<%= cl_image_path activity.image.key, height: 300, crop: :fill %>">
            <% end %>
              <div class="my_activities-cards-text">
                <h6><strong><%= activity.title %></strong></h6>
                <p><strong>Dojo:</strong> <%= activity.teacher %></p>
                <p><%= activity.event_time.present? ? activity.event_time.strftime("%a %b %e at %l:%M %p") : "No event time specified" %></p>
              </div>
              <div class='manage-buttons'>
                <%= link_to edit_club_activity_path(@club, activity) do %>
                 <%= image_tag 'edit-3-svgrepo-com.svg', class: 'edit-button' %>
                <% end %>
                <%= link_to club_activity_path(@club, activity), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'delete-button' do %>
                  <%= image_tag 'delete-trash.svg', class: 'delete-button-img' %>
                <% end %>
              </div>
          </div>
    <% end %>
</div>

<%= render "shared/navbar" %>
