<div class="activity-image" style="position: relative;">
  <%= link_to request.referrer || root_path, class: 'back-button' do %>
  <i class="fa-solid fa-backward-step"></i>
  <% end %>
  <%= image_tag 'lewagon.jpg', alt: 'le wagon school logo', class: 'club-img' %>
</div>

<div class= "club-details">
  <div class="club-title">
    <h1>le wagon's dojo</h1>
  </div>
    <div class="club-desc">
      <p id="club-description">
        <%= truncate(@club.details, length: 100) %>
        <% if @club.details.length > 100 %>
        <span id="more-text" style="display: none;"><%= @club.details[100..-1] %></span>
        <button id="learn-more-btn" onclick="toggleText()">Learn More</button>
        <% end %>
        </p>
    </div>

    <div class="more-info d-flex">
      <div class="social-links">
        <div class='location-tag'>
          <i class="fa-solid fa-location-dot"></i>
          <p class='icon-text'>Cantersteen 10, 1000 Bruxelles</p>
        </div>
        <div class='instagram-tag'>
          <i class="fa-brands fa-instagram"></i>
          <span class='icon-text'>@lewagonbelgium</span>
        </div>
        <div class='phone-tag'>
          <i class="fa-solid fa-phone"></i>
          <span class='icon-text'>+32 4 78 566 980</span>
        </div>
      </div>
      <div class="map">
        <%= image_tag "mapsss.png", class: 'maps' %>
      </div>
    </div>
</div>
<h1 class='activities-title'>Activities</h1>
 <div class="activities-list">
      <% @activities.each do |activity| %>
        <div class="activity-item">
          <%= link_to activity_path(activity) do %>
              <div class="activities-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i0.wp.com/www.muscleandfitness.com/wp-content/uploads/2020/05/uppercut-boxing-man.jpg?w=1180&quality=86&strip=all);">
                <h2 class="activity-name"><strong><%= activity.title %></strong></h2>
              </div>

          <div class="activity-text">
            <h4><strong><%= activity.description %></strong></h4>
            <p><u><%= activity.address %></u></p>
            <p><%= activity.event_time %> (duration: <%= activity.duration %>h)</p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
