<h2 class="text-center"><strong>Sign up</strong></h2>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card shadow-lg border-0">
          <div class="card-header bg-white text-black text-center">

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :first_name,
                             required: true,
                             input_html: { placeholder: "Your first name", class: "text" } %>

                <%= f.input :last_name,
                             required: true,
                             input_html: { placeholder: "Your last name", class: "text" } %>

                <%= f.input :username,
                             required: true,
                             input_html: { placeholder: "Choose a username", class: "text" } %>

                 <%= f.input :email,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "email", placeholder: "Your email address", class: "text" } %>

                 <%= f.input :password,
                              required: true,
                              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                              input_html: { autocomplete: "new-password", placeholder: "Create a password", class: "text" } %>

                 <%= f.input :password_confirmation,
                              required: true,
                              input_html: { autocomplete: "new-password", placeholder: "Confirm your password", class: "text" } %>
             </div>

              <div class="form-actions">
                <%= f.button :submit, "Sign up" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>
    </div>
  </div>
