<%= link_to root_path, class: 'back-button' do %>
  <%=image_tag 'backbutton.svg', alt: 'Back', class: 'back-button-img' %>
  Back
  <% end %>

<div class='club-bodybag'>
<h1 class='dash-title'>Account</h1>
  <div class="club-info d-flex">
   <div class='user-info-container d-flex'>
      <div class='prof-picture'>

          <%= image_tag 'babycroc.JPG', alt: 'Default Profile Picture', class: 'prof-picture-img' %>

      </div>
      <div class='user-info'>

        <p class='username'><%= current_user.username %></p>
        <div class='prof-button'>
          <%= link_to 'Show Profile', profile_path %>
        </div>
      </div>
  </div>
</div>
  <div class="settings-profile-borders"></div>

    <div class='buttons-container'>
     <h4 class="account-titles">Settings</h4>
      <div class='buttons-card'>
        <div class='personal-info-button'>
        <%= link_to personal_info_path do %>
          <%= image_tag 'user.png', class: 'button-icon' %>
          Personal Information
          <% end %>
        </div>
        <div class='arrow-button'>
        <%= image_tag 'nextarrow.svg', class: 'nextarrow'%>
        </div>
      </div>
      <h4 class="account-titles">Your Dojos</h4>
      <div class='buttons-card'>
        <div class='create-dojo-button'>
        <%= link_to new_club_path do %>
          <%= image_tag 'add-circle-svgrepo-com.svg', class: 'button-icon' %>
          Create a Dojo
          <% end %>
        </div>
        <div class='arrow-button'>
        <%= image_tag 'nextarrow.svg', class: 'nextarrow'%>
        </div>
      </div>

      <div class="settings-borders"></div>

        <div class='buttons-card'>
          <div class='manage-dojos-button'>
            <%= link_to manage_dojos_path do %>
            <%= image_tag 'edit-3-svgrepo-com.svg', class: 'button-icon' %>
            Manage Dojo's
            <% end %>
          </div>
          <div class='arrow-button'>
          <%= image_tag 'nextarrow.svg', class: 'nextarrow'%>
          </div>
        </div>
        <h4 class="account-titles">Support</h4>

        <div class='buttons-card'>
          <div class='contact-page-button'>
          <%= link_to personal_info_path do %>
            <%= image_tag 'mail-alt-svgrepo-com.svg', class: 'button-icon' %>
            Contact Page
            <% end %>
          </div>
          <div class= 'arrow-button' >
          <%= image_tag 'nextarrow.svg', class: 'nextarrow'%>
          </div>
        </div>

        <h4 class="account-titles">Legal</h4>
        <div class='buttons-card'>
          <div class='terms-of-service-button'>
          <%= link_to personal_info_path do %>
          <%= image_tag 'license-svgrepo-com.svg', class: 'button-icon' %>
          Terms of Service
          <% end %>
        </div>
        <div class='arrow-button'>
        <%= image_tag 'nextarrow.svg', class: 'nextarrow'%>
        </div>
      </div>

      <div class="settings-borders"></div>

      <div class='buttons-card'>
        <div class='privacy-policy-button'>
        <%= link_to personal_info_path do %>
        <%= image_tag 'privacy-dashboard-svgrepo-com.svg', class: 'button-icon' %>
        Privacy Policy
        <% end %>
        </div>
        <div class='arrow-button'>
        <%= image_tag 'nextarrow.svg', class: 'nextarrow'%>
        </div>
      </div>
      <div class="logout-button">
       <%= link_to 'Logout', destroy_user_session_path,  data: {turbo_method: :delete, turbo_confirm: "You are about to end the session"} %>
      </div>
    </div>
</div>


<%= render "shared/navbar" %>
