<div class="container-profile-info">
  <div class="profile-page">
    <h1 class="profile-title">Profile</h1>
    <div class="profile-box mt-4">
      <div class="profile-left">
        <%= image_tag "shandor.svg", class: "profile-picture"%>
        <p class="username"><%= "Madeleine" %></p>
      </div>


      <div class="profile-right-part">
        <div class="profile-views">
          <div class= review-h4-text>
            <h4>4</h4>
          </div>
          <div class= review-sentence>
            <p>Reviews</p>
          </div>
        </div>
        <hr class="separator">
        <div class="days-on-dojo">
          <div class= "days-on-dojo-number">
            <h4>18</h4>
          </div>
          <div class= "days-on-dojo-text">
            <p>Days on Dojo</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <h1 class="feedback-title">My Feedbacks</h1>

  <% @feedbacks.each do |feedback| %>
    <div class="feedback-header">
    <%=image_tag "thumbs-up.svg"%>
    <p class="date-feedback">-<%= feedback.created_at.strftime("%a %b %e at %l:%M %p") %> </p>
    </div>
    <div class= "activity-feedback">
      <p><strong>Activity:</strong> <%= feedback.activity.title %> </p>
    </div>
    <div class= "dojo-feedback">
      <p><strong>Dojo:</strong><%= feedback.activity.club.name %></p>
    </div>
    <%# do a link to instead of a a tag plz  %>
    <a href="#" class="d-none view-dojo-button">View Dojo</a>
    <hr class="blue-line">
  <% end %>




</div>
