<div class="container">
<div class="profile-page">
  <!-- Title "Profile" at the top -->
  <h1 class="profile-title">Profile</h1>

  <!-- Profile Box with shadow and rounded corners -->
  <div class="profile-box mt-4">

    <!-- Left side: Profile Picture and Username -->
    <div class="profile-left">
      <%= image_tag "shandor.svg", class: "profile-picture"%> <!-- Assuming @user has an avatar attribute -->
      <p class="username"><%= "Madeleine" %></p>
    </div>

    <!-- Right side: Reviews and Days on Dojo -->
    <div class="profile-right-part">
      <div class="profile-views">
          <div class= review-h4-text>
        <h4>4</h4>
      </div>
      <div class= review-sentence>
        <p>Reviews</p>
      </div>
      </div>
      <hr class="separator">
      <div class="days-on-dojo">
        <div class= "days-on-dojo-number">
        <h4>18</h4>
        </div>
        <div class= "days-on-dojo-text">
        <p>Days on Dojo</p>
        </div>
      </div>
    </div>

  </div>
</div>
<h1 class="feedback-title">My Feedbacks</h1>

<div class="feedback-header">
<%=image_tag "thumbs-up.svg"%>

<p class="date-feedback">-DD/MM/YYYY </p>
</div>
<div class= "activity-feedback">
<p><strong>Activity:</strong> Boxing Lesson at the Glow after Pot Luck </p>
</div>
<div class= "dojo-feedback">
<p><strong>Dojo:</strong> Le Wagon dojo </p>
</div>
<a href="#" class="view-dojo-button">View Dojo</a>
<hr class="blue-line">

<div class="feedback-header">
<%=image_tag "thumbs-up.svg"%>

<p class="date-feedback">-DD/MM/YYYY </p>
</div>
<div class= "activity-feedback">
<p><strong>Activity:</strong> Boxing Lesson at the Glow after Pot Luck </p>
</div>
<div class= "dojo-feedback">
<p><strong>Dojo:</strong> Le Wagon dojo </p>
</div>
<a href="#" class="view-dojo-button">View Dojo</a>
<hr class="blue-line">

<div class="feedback-header">
<%=image_tag "thumbs-up.svg"%>

<p class="date-feedback">-DD/MM/YYYY </p>
</div>
<div class= "activity-feedback">
<p><strong>Activity:</strong> Boxing Lesson at the Glow after Pot Luck </p>
</div>
<div class= "dojo-feedback">
<p><strong>Dojo:</strong> Le Wagon dojo </p>
</div>
<a href="#" class="view-dojo-button">View Dojo</a>
<hr class="blue-line">
</div>
