  <div class="container">
      <% @activities.each do |activity| %>
        <div class="activities-item">
          <%= link_to activity_path(activity), data: {turbo_frame: '_top'} do %>
          <% if activity.image.attached?  %>
            <div class="activities-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path activity.image.key, height: 300, crop: :fill %>');">
              <% end %>
              <h2 class="activities-name"><strong><%= activity.title %></strong></h2>
            </div>
            <div class="activities-index-borders"></div>
            <div class="activities-text">
              <h4><strong><%= activity.club.name %></strong></h4>
              <div class="activities-subtext">
                <p><u><%= activity.address %></u></p>
                <p><%= activity.event_time.strftime("%a %b %e at %l:%M %p") %> (duration: <%= activity.duration %>h)</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
