<div class="container"
     data-controller="map-button">

  <div id="activities-index-search">
    <%= render 'shared/search_bar' %>
  </div>

  <% if @activities.any? %>
    <div id="activities-index">
    <%= render 'shared/activities' %>
  </div>
  <% else %>
    <p>No activities found matching your search.</p>
  <% end %>

  <div class="activities-map d-none"
       data-controller="map"
       data-map-button-target="map"
       data-map-target="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <button class="map-button"
          data-action="click->map-button#hide"
          data-map-button-target="button">
          Map
  </button>


</div>

<%= render "shared/navbar" %>
