<div class="container">
  <h3 class="my_activities-titles"><strong>Upcoming Activities</strong></h3>
  <div class="my_activities-index">
    <% @upcoming_activities.each do |activity| %>
      <%= link_to activity_path(activity), class: "my_activities-cards-link" do %>
        <div class="my_activities-cards">
          <img class="my_activities-images" src="<%= cl_image_path activity.image.key, height: 300, crop: :fill %>">
          <div class="my_activities-cards-text">
            <h6><strong><%= activity.title %></strong></h6>
            <p><strong>Dojo:</strong> <%= activity.club.name %></p>
            <p><%= activity.event_time.strftime("%a %b %e at %l:%M %p") %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="my_activities-index-border"></div>

  <h3 class="my_activities-titles"><strong>What you’ve attended</strong></h3>
  <div class="my_activities-index">
    <% @attended_activities.each do |activity| %>
       <%= link_to activity_path(activity), class: "my_activities-cards-link" do %>
        <div class="my_activities-cards">
          <img class="my_activities-images" src="<%= cl_image_path activity.image.key, height: 300, crop: :fill %>">
          <div class="my_activities-cards-text">
            <h6><strong><%= activity.title %></strong></h6>
            <p><strong>Dojo:</strong> <%= activity.club.name %></p>
            <p><%= activity.event_time.strftime("%a %b %e at %l:%M %p") %></p>
            <% end %>

          <% if activity.event_time < Time.current %>
            <div class="my_activities-feedback">
            <p>How was it?</p>
            <div class="my_activities-feedback-thumbs">

              <%= simple_form_for([activity, @feedback], url: activity_feedbacks_path(activity), method: :post, html: { class: "feedback-form" }) do |f| %>
                <%= f.hidden_field :appreciation, value: true %>
                <button type="submit" class="thumb-button">
                  <%= image_tag 'thumb-up.svg', alt: 'Thumb Up' %>
                </button>
              <% end %>

                <span>|</span>

              <%= simple_form_for([activity, Feedback.new], url: activity_feedbacks_path(activity), method: :post, html: { class: "feedback-form" }) do |f| %>
                <%= f.hidden_field :appreciation, value: false %>
                <button type="submit" class="thumb-button">
                  <%= image_tag 'thumb-down.svg',  alt: "Thumb Down" %>
                </button>
              <% end %>
          <% end %>

              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<%= render "shared/navbar" %>
